<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <p>test</p>
</head>
<body>
    <div th:replace="fragments :: header"></div>

    <div class="section_full">
        <span class="title1">Add Product</span>
        <span class="title2">What new product do you want to add?</span>
    </div>
    <div class="section_full">

        <form method="post">
            Name: <input type="text" name="name" /><br />
            Price: <input type="text" name="description" />
            <input type="submit" value="Add Product" />
        </form>

    </div>

    <div th:replace="fragments :: footer"></div>

</body>
</html>
