<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div th:replace="fragments :: admin_menu"></div>
    <div id="admin_container">
        <div><h1 style="margin-left: 30px;">Categories:</h1></div>
        <div th:each="item : ${categories}">
            <div class="listItem" th:if="${item.archive == 'yes'}" style="background-color: #f7f6f6;">
                <a th:href="${'/data/delete/cat/' + item.id}"><i class="fas fa-trash" style="position: absolute; margin: 10px 6px 0; color: red;"></i></a>
                <div class="oneItem" style="margin-left: 25px;"><span th:text="${item.name}"></span><a th:href="${'categories/reactivate/cat/' + item.id}">REACTIVATE</a></div>
            </div>
            <div class="subItem" th:if="${item.archive == 'yes'}">
                <div>Contains :</div>
                <div th:each="subCat : ${types}">
                    <div th:if="${subCat.categoryId == item.id}">
                        <div th:text="${item.name + ': ' + subCat.name} + ', '"></div>
                    </div>
                </div>
            </div>
        </div>
        <div><h1 style="margin-left: 30px;">Sub-categories:</h1></div>
        <div th:each="item : ${types}">
            <div class="listItem" th:if="${item.archive == 'yes'}" style="background-color: #f7f6f6;">
                <div th:each="cat : ${categories}" th:if="${item.categoryId == cat.id}">
                    <a th:href="${'/data/delete/type/' + item.id}"><i class="fas fa-trash" style="position: absolute; margin: 10px 6px 0; color: red;"></i></a>
                    <div class="oneItem" style="margin-left: 25px;"><span th:text="${cat.name + ': ' + item.name}"></span><a th:href="${'categories/reactivate/type/' + item.id}">REACTIVATE</a></div>
                </div>
            </div>
            <div class="subItem" th:if="${item.archive == 'yes'}">
                <div>Contains :</div>

            </div>
        </div>
        <div><h1 style="margin-left: 30px;">Sizes:</h1></div>
        <div th:each="size : ${sizes}">
            <div class="listItem" th:if="${size.archive == 'yes'}" style="background-color: #f7f6f6;">
                <a th:href="${'/data/delete/size/' + size.id}"><i class="fas fa-trash" style="position: absolute; margin: 10px 6px 0; color: red;"></i></a>
                <div class="oneItem" style="margin-left: 25px;"><span th:text="${size.longName + ' (' + size.shortName + ')'}"></span><a th:href="${'sizes/reactivate/' + size.id}">REACTIVATE</a></div>
            </div>
            <div class="subItem" th:if="${size.archive == 'yes'}">
                <div>Contains :</div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
