<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div id="admin_menu">
        <a th:href="@{/admin}"><div class="admin_menu_button">Orders</div></a>
        <a th:href="@{/admin/inventory}"><div class="admin_menu_button">Inventory</div></a>
        <a th:href="@{/admin/returns}"><div class="admin_menu_button">Returns</div></a>
        <a th:href="@{/admin/coupons}"><div class="admin_menu_button">Coupons</div></a>
        <a th:href="@{/admin/products}"><div class="admin_menu_button">Products</div></a>
        <a th:href="@{/admin/customers}"><div class="admin_menu_button">Customers</div></a>
        <a th:href="@{/admin/colors}"><div class="admin_menu_button">Colors</div></a>
        <a th:href="@{/admin/sizes}"><div class="admin_menu_button">Sizes</div></a>
        <div class="admin_menu_button active">Categories</div>
    </div>
    <div id="admin_container">
        <form method="post">
            <div class="admin_text_box">
                <input type="text" required="required" name="categoryName" placeholder="new category" />
            </div>
            <div class="admin_submit_button">
                <input type="submit" value="create" />
            </div>
        </form>

        <div th:each="item, iStat : ${categories}">
            <div class="listItem" th:style="${iStat.odd}? 'background-color: #e1e0e0;'">
                <div class="moveUp" th:if="${item.sortId == 0}"></div>
                <div class="moveUp" th:unless="${item.sortId == 1}"><a th:href="'categories/moveup/' + ${item.id}">/\</a></div>
                <div class="moveDown" th:if="${item.sortId == categories.size()}"></div>
                <div class="moveDown" th:unless="${item.sortId == categories.size()}">\/</div>
                <div class="oneItem" th:text="${item.name}">ITEM</div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
