<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div id="admin_menu">
        <a th:href="@{/admin}"><div class="admin_menu_button">Orders</div></a>
        <a th:href="@{/admin/inventory}"><div class="admin_menu_button">Inventory</div></a>
        <a th:href="@{/admin/returns}"><div class="admin_menu_button">Returns</div></a>
        <a th:href="@{/admin/coupons}"><div class="admin_menu_button">Coupons</div></a>
        <a th:href="@{/admin/products}"><div class="admin_menu_button">Products</div></a>
        <a th:href="@{/admin/customers}"><div class="admin_menu_button">Customers</div></a>
        <a th:href="@{/admin/colors}"><div class="admin_menu_button">Colors</div></a>
        <a th:href="@{/admin/sizes}"><div class="admin_menu_button">Sizes</div></a>
        <div class="admin_menu_button active">Categories</div>
    </div>
    <div id="admin_container">
        <form method="post">
            <div class="admin_text_box">
                <input type="text" required="required" name="categoryName" placeholder="new category" />
            </div>
            <div class="admin_submit_button">
                <input type="submit" value="create" />
            </div>
        </form>

        <div th:each="item, iStat : ${categories}">
            <div class="listItem" style="background-color: #f0f0f0;">
                <div class="moveUp" th:if="${item.sortId == 1}"></div>
                <div class="moveUp" th:unless="${item.sortId == 1}"><a th:href="'categories/moveup/' + ${item.SortId}">&#8911;</a></div>
                <div class="moveDiv">&minus;</div>
                <div class="moveDown" th:if="${item.sortId == categories.size()}"></div>
                <div class="moveDown" th:unless="${item.sortId == categories.size()}"><a th:href="'categories/movedown/' + ${item.SortId}">&#8910;</a></div>
                <div class="oneItem"><span th:text="${item.name}"></span><a th:href="${'categories/archive/' + item.id}">ARCHIVE</a></div>
                <div class="hideItem">
                    <div th:if="${item.hidden == 'no'}">
                        <form th:action="${'categories/hidden/' + item.id + '/yes'}" method="post">
                            <input type="submit" value="&#9745;" />
                        </form>
                    </div>
                    <div th:if="${item.hidden == 'yes'}">
                        <form th:action="${'categories/hidden/' + item.id + '/no'}" method="post">
                            <input type="submit" value="&#9744;" />
                        </form>
                    </div>
                </div>
                <div class="subcategoryForm">
                    <form method="post">
                        <div class="subcategory_text_box">
                            <input type="text" required="required" name="typeName" placeholder="subcategory" />
                        </div>
                        <div class="subcategory_submit_button">
                            <input type="submit" value="+" />
                       </div>
                    </form>
                </div>
            </div>
            <div class="subItem">
                <div th:each="subCat : ${types}" th:style="${subCat.categoryId != item.id}? 'display: none;'">
                    <div th:if="${subCat.categoryId == item.id}">
                        <div th:unless="${subCat.sortId == 1}"><a th:href="'categories/' + ${subCat.categoryId} + '/' + ${subCat.sortId} + '/moveup'">&#8827;</a></div>
                        <div>
                            <div th:if="${subCat.hidden == 'no'}">
                                <form th:action="${'categories/' + subCat.id + '/hidden/yes'}" method="post">
                                    <input type="submit" value="&#8864;" style="border: 0; background: none;" />
                                </form>
                            </div>
                            <div th:if="${subCat.hidden == 'yes'}">
                                <form th:action="${'categories/' + subCat.id + '/hidden/no'}" method="post">
                                    <input type="submit" value="&#9744;" style="border: 0; background: none;" />
                                </form>
                            </div>
                        </div>
                        <div th:text="${subCat.name}"></div>
                        <div style="font-size: 8px;">A</div>
                        <div th:unless="${subCat.sortId == categoryTypeCount[item.id]}"><a th:href="'categories/' + ${subCat.categoryId} + '/' + ${subCat.sortId} + '/movedown'">&#8826;</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="archive"><a th:href="'archive'">CHECK ARCHIVE</a></div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
