<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div th:replace="fragments :: admin_menu"></div>
    <div id="admin_container">
        <form method="post" th:action="@{/data/add/category}">
            <div class="admin_text_box" style="top: 140px;">
                <input type="text" required="required" name="categoryName" placeholder="new category" />
            </div>
            <div class="admin_submit_button" style="top: 140px;">
                <input type="submit" value="create" />
            </div>
        </form>

        <div th:each="item : ${categories}">
            <div class="listItem" style="background-color: #effcff;">
                <div class="moveUp" th:if="${item.sortId == 1}"></div>
                <div class="moveUp" th:unless="${item.sortId == 1}"><a th:href="'categories/moveup/' + ${item.SortId}">&#8911;</a></div>
                <div class="moveDiv">&minus;</div>
                <div class="moveDown" th:if="${item.sortId == categories.size()}"></div>
                <div class="moveDown" th:unless="${item.sortId == categories.size()}"><a th:href="'categories/movedown/' + ${item.SortId}">&#8910;</a></div>
                <div class="oneItem"><span th:text="${item.name}"></span><a th:href="${'categories/archive/' + item.id}">ARCHIVE</a></div>
                <div class="hideItem">
                    <div th:if="${item.hidden == 'no'}">
                        <form th:action="${'categories/hidden/' + item.id + '/yes'}" method="post">
                            <input type="submit" value="&#9745;" />
                        </form>
                    </div>
                    <div th:if="${item.hidden == 'yes'}">
                        <form th:action="${'categories/hidden/' + item.id + '/no'}" method="post">
                            <input type="submit" value="&#9744;" />
                        </form>
                    </div>
                </div>
                <div class="subcategoryForm">
                    <form method="post" th:action="@{/data/add/subcategory}">
                        <div class="subcategory_text_box">
                            <input type="text" required="required" name="typeName" placeholder="subcategory" />
                            <input type="hidden" name="categoryId" th:value="${item.id}" />
                        </div>
                        <div class="subcategory_submit_button">
                            <input type="submit" value="+" />
                       </div>
                    </form>
                    <form method="post" th:action="@{/data/add/style}">
                        <div class="style_text_box">
                            <input type="text" required="required" name="styleName" placeholder="style" />
                            <input type="hidden" name="categoryId" th:value="${item.id}" />
                        </div>
                        <div class="style_submit_button">
                            <input type="submit" value="+" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="subItem">
                sub-categories:
                <div th:each="subCat : ${types}" th:if="${subCat.archive != 'yes'}">
                    <div th:if="${item.id == subCat.category.id}">
                        <div th:unless="${subCat.sortId == 1}"><a th:href="'categories/type/' + ${item.id} + '/' + ${subCat.sortId} + '/moveup'">&#8827;</a></div>
                        <div>
                            <div th:if="${subCat.hidden == 'no'}">
                                <form th:action="${'categories/type/' + subCat.id + '/hidden/yes'}" method="post">
                                    <input type="submit" value="&#8864;" style="border: 0; background: none;" />
                                </form>
                            </div>
                            <div th:if="${subCat.hidden == 'yes'}">
                                <form th:action="${'categories/type/' + subCat.id + '/hidden/no'}" method="post">
                                    <input type="submit" value="&#9744;" style="border: 0; background: none;" />
                                </form>
                            </div>
                        </div>
                        <div th:text="${subCat.name}"></div>
                        <div style="font-size: 8px;"><a th:href="${'categories/type/' + subCat.id + '/archive/' + item.id}">A</a></div>
                        <div th:unless="${subCat.sortId == typesCnt[item.id]}"><a th:href="'categories/type/' + ${item.id} + '/' + ${subCat.sortId} + '/movedown'">&#8826;</a></div>
                    </div>
                </div>
            </div>
            <hr style="width: 780px; margin-left: 30px;" />

            <div class="subItem styles">
                styles:
                <div th:each="style : ${styles}">
                    <div th:if="${item.id == style.category.id}">
                        <div th:unless="${style.sortId == 1}"><a th:href="'categories/style/' + ${item.id} + '/' + ${style.sortId} + '/moveup'">&#8827;</a></div>
                        <div>
                            <div th:if="${style.hidden == 'no'}">
                                <form th:action="${'categories/style/' + style.id + '/hidden/yes'}" method="post">
                                    <input type="submit" value="&#8864;" style="border: 0; background: none;" />
                                </form>
                            </div>
                            <div th:if="${style.hidden == 'yes'}">
                                <form th:action="${'categories/style/' + style.id + '/hidden/no'}" method="post">
                                    <input type="submit" value="&#9744;" style="border: 0; background: none;" />
                                </form>
                            </div>
                        </div>
                        <div th:text="${style.name}"></div>
                        <div style="font-size: 8px;"><a th:href="${'categories/style/' + style.id + '/archive/' + item.id}">A</a></div>
                        <div th:unless="${style.sortId == stylesCnt[item.id]}"><a th:href="'categories/style/' + ${item.id} + '/' + ${style.sortId} + '/movedown'">&#8826;</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="archive"><a th:href="'archive'">CHECK ARCHIVE</a></div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
