<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div th:replace="fragments :: admin_menu"></div>
    <div id="admin_container">

        <div id="add_product">ADD PRODUCT <i class="far fa-caret-square-down"></i></div>
        <div class="add_form">
            <form th:action="@{'/data/add/product'}" method="post" enctype="multipart/form-data">
                <select class="selection" id="sel_cat" name="categoryId" required="required">
                    <option value="">-- Choose Category --</option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:id="${'cat' + cat.id}" th:text="${cat.name}"></option>
                </select>
                <select class="selection" id="sel_subcat" name="typeId" required="required" style="margin-left: 395px;">
                    <option value="">-- Choose Sub-Category --</option>
                    <div th:each="cat : ${categories}">
                    <option th:name="${cat.id}" th:each="type : ${cat.types}" th:value="${type.id}" th:text="${type.name}"></option>
                    </div>
                </select>
                <div id="style_title">Choice Styles (optional)</div>
                <div id="sel_style">
                    <div th:each="style : ${styles}" th:name="${style.category.id}" style="display: none;">
                        <input type="checkbox" name="styleIds" th:value="${style.id}" />
                        <div th:text="${style.name}"></div>
                    </div>
                </div>
                <input class="sel_image" type="file" accept="image/*" name="file" />
                <input class="sel_name" required="required" type="text" name="name" placeholder="Name of product" />
                <input class="sel_submit" type="submit" value="Add Product" />
            </form>
        </div>

        <div id="add_item">ADD ITEM TO INVENTORY <i class="far fa-caret-square-down"></i></div>
        <div class="add_ItemForm">
            <form th:action="@{'/data/add/item'}" method="post" enctype="multipart/form-data">
                <select class="selection" id="sel_catSubcat" name="typeId" required="required">
                    <option value="">-- Choose Category / Sub-Category --</option>
                    <div th:each="cat : ${categories}">
                        <option th:each="subCat : ${cat.types}" th:value="${subCat.id}" th:id="${'subCat' + subCat.id}" th:text="${cat.name + ': ' + subCat.name}"></option>
                    </div>
                </select>
                <select class="selection " id="sel_product" name="productId" required="required" style="margin-left: 395px;">
                    <option value="">-- Choose Product --</option>
                    <option th:each="product : ${products}" th:name="${product.type.id}" th:value="${product.id}" th:text="${product.name}"></option>
                </select>
                <div id="color_title">Choice Color</div>
                <div id="sel_color">
                    <div th:each="color : ${colors}">
                        <input required="required" type="radio" name="colorId" th:id="${'color-' + color.id}" th:value="${color.id}" />
                        <label class="radio_color" th:for="${'color-' + color.id}" th:style="|background-color: ${color.hex}; background-image: url(/upload/image/${color.url});|" />
                    </div>
                </div>
                <div id="size_title">Choice Size</div>
                <div id="sel_size">
                    <div th:each="size : ${sizes}">
                        <input type="checkbox" name="sizeIds" th:id="${'size-' + size.id}" th:value="${size.id}" />
                        <label class="radio_size" th:for="${'size-' + size.id}" th:text="${size.shortName}" />
                    </div>
                </div>
                <input class="sel_image2" type="file" accept="image/*" name="file" />
                <input class="sel_name2" required="required" type="text" name="sku" placeholder="SKU (prefix)" />
                <input class="sel_price" required="required" type="number" name="price" value="0.00" step="0.01" placeholder="price ($)" />
                <input class="sel_submit2" type="submit" value="Add Product" />
            </form>
        </div>

        <div th:each="cat : ${categories}"><div th:each="type : ${cat.types}"><span th:id="${'pDiv' + cat.id + '-' + type.id}" class="prodTitle" th:text="${cat.name + ' - ' + type.name}"></span>
            <div th:class="${'cDiv' + cat.id + '-' + type.id}" th:each="product : ${type.products}">
                <div class="listItem productList" style="background-color: #effcff;">
                    <i class="far fa-image productImage" th:if="${product.imageId != 0}"></i>
                    <div class="oneItem productOne"><span th:text="${product.name}"></span><a th:href="${'products/archive/' + product.id}">ARCHIVE</a></div>
                    <div class="hideItem">
                        <div th:if="${product.hidden == 'no'}">
                            <form th:action="${'products/hidden/' + product.id + '/yes'}" method="post">
                                <input type="submit" value="&#9745;" />
                            </form>
                        </div>
                        <div th:if="${product.hidden == 'yes'}">
                            <form th:action="${'products/hidden/' + product.id + '/no'}" method="post">
                                <input type="submit" value="&#9744;" />
                            </form>
                        </div>
                        <div style="display: block; position: absolute; width: 200px; text-align: right; margin: -24px 0 0 560px;"><a th:href="${'/data/add/descriptions/' + product.id}" th:text="${'Add/Modify Descriptions'}"></a></div>
                    </div>
                </div>

                <script style="display: none;" th:inline="javascript">
                    $(document).ready(function(){
                        $('#pDiv[[${cat.id}]]-[[${type.id}]]').click(function() {
                            $('.cDiv[[${cat.id}]]-[[${type.id}]]').toggle();
                        });
                    });
                </script>

                <div th:each="color : ${colors}">
                    <div th:each="size : ${sizes}">
                        <div th:each="item, iStat : ${product.inventory}" th:if="${color.id == item.colorId}">
                            <div class="subItem blockIt" th:if="${size.id == item.sizeId}" th:style="${iStat.odd}? 'background-color: #f3f2f2;'">
                                <i class="fas fa-palette" th:style="|color: ${color.hex}; text-shadow: 1px 1px black; margin-top: 2px;|"></i>
                                <div th:text="|&nbsp; ${size.longName} - $${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}|"></div>
                                <div style="font-size: 8px;"><a th:href="${'products/inventory/' + item.id + '/archive/' + product.id}">A</a><br /></div>
                                <form th:action="@{/data/update/quantity}" method="post">
                                    <input type="hidden" name="itemId" th:value="${item.id}" />
                                    <input class="quant_input" name="quantity" type="number" th:placeholder="${item.quantity}" />
                                    <input class="quant_submit" type="submit" value="update" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div></div>

        <div id="archive"><a th:href="'archive'">CHECK ARCHIVE</a></div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
