<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <div th:replace="fragments :: admin_menu"></div>
    <div id="admin_container">
        <form method="post" th:action="@{/data/add/size}">
            <div class="admin_text_box" style="top: 140px;">
                <div>Size:</div>
                <input type="text" required="required" name="longName" placeholder="eg. extra large" style="width: 400px; margin-left: 90px;" />
                <input type="text" required="required" name="shortName" placeholder="eg. xl" style="width: 75px; margin-left: 510px;" />
            </div>
            <div class="admin_submit_button" style="top: 140px;">
                <input type="submit" value="add" />
            </div>
        </form>

        <div th:each="item, iStat : ${sizes}">
            <div class="listItem" th:style="${iStat.even}? 'background-color: #effcff;'">
                <div class="moveUp" th:if="${item.sortId == 1}"></div>
                <div class="moveUp" th:unless="${item.sortId == 1}"><a th:href="'sizes/moveup/' + ${item.SortId}">&#8911;</a></div>
                <div class="moveDiv">&minus;</div>
                <div class="moveDown" th:if="${item.sortId == sizes.size()}"></div>
                <div class="moveDown" th:unless="${item.sortId == sizes.size()}"><a th:href="'sizes/movedown/' + ${item.SortId}">&#8910;</a></div>
                <div class="oneItem"><span th:text="${item.longName + '&nbsp;&nbsp;(' + item.shortName + ')'}"></span><a th:href="${'sizes/archive/' + item.id}">ARCHIVE</a></div>
                <div class="hideItem">
                    <div th:if="${item.hidden == 'no'}">
                        <form th:action="${'sizes/hidden/' + item.id + '/yes'}" method="post">
                            <input type="submit" value="&#9745;" />
                        </form>
                    </div>
                    <div th:if="${item.hidden == 'yes'}">
                        <form th:action="${'sizes/hidden/' + item.id + '/no'}" method="post">
                            <input type="submit" value="&#9744;" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="archive"><a th:href="'archive'">CHECK ARCHIVE</a></div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
