<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full" th:each="type : ${types}">
    <a th:href="@{'/store/' + ${title} + '/' + ${type.name}}" style="text-decoration: none;"><span class="title1" th:text="${type.name}">Type Name</span></a>
    <div class="product" th:each="product : ${products}">
        <div class="product_img" th:style="${'background-image: url(/upload/image/' + product.imageUrl + ');'}" th:if="${product.typeId == type.id}"></div>
        <div class="product_des" th:if="${product.typeId == type.id}"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.minPrice + ' - $' + product.maxPrice}" th:unless="${product.minPrice == product.maxPrice}">$17.00</strong><strong th:text="'$' + ${product.minPrice}" th:if="${product.minPrice == product.maxPrice}">$17.00</strong></div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
