<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="section_full">
    <span class="title1" th:text="${type.name}">Category Name</span>
    <div class="product" th:each="product : ${products}">
        <div class="product_img" th:style="${'background-image: url(/upload/image/' + product.imageUrl + ');'}"></div>
        <div class="product_des"><a th:href="@{'/store/product/' + ${product.productId}}" style="text-decoration: none;" th:text="${product.name}">TITLE</a><strong th:text="'$' + ${product.minPrice + ' - $' + product.maxPrice}" th:unless="${product.minPrice == product.maxPrice}">$17.00</strong><strong th:text="'$' + ${product.minPrice}" th:if="${product.minPrice == product.maxPrice}">$17.00</strong></div>
    </div>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
