* {
    text-decoration: none;
}

#admin_menu {
    margin: 0;
    padding: 10px 0 0;
    display: inline-block;
    width: 175px;
}

.admin_menu_button {
    height: 34px;
    font-size: 20px;
    padding-top: 7px;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

a .admin_menu_button:hover {
  background-color: #e8f4f8;
  border-right: 2px solid #e8f4f8;
  border-left: 2px solid #e8f4f8;
}

#admin_container {
    text-align: left;
    margin: 0;
    padding: 60px 0 0;
    display: inline-block;
    width: 840px;
    min-height: 400px;
}

.active {
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
    border: 2px solid #72bcd4;
}

#footer {
  margin-top: 0;
}

.section_full {
  margin: 0 auto;
}

.admin_text_box {
    position: absolute;
    display: block;
    width: 600px;
    height: 40px;
    margin: 10px 0 0 20px;
    padding: 0;
    top: 400px;
}

.admin_text_box input {
    position: absolute;
    width: 590px;
    height: 35px;
    font-size: 26px;
    text-align: right;
    border: 0;
    border-bottom: 2px solid #606060;
}

.admin_text_box div {
    position: absolute;
    height: 35px;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 0 15px;
}

.admin_submit_button {
    display: block;
    position: absolute;
    top: 402px;
    width: 200px;
    height: 40px;
    margin: 15px 0 0 620px;
    padding: 0;
}

.admin_submit_button input {
    width: 190px;
    height: 30px;
    font-size: 22px;
    border: 2px solid #72bcd4;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
}

.admin_submit_button input:hover, .subcategory_submit_button input:hover, .style_submit_button input:hover {
    border: 2px solid #add8e6;
}

.listItem {
    height: 30px;
    border-bottom: 1px solid #606060;
    border-top: 1px solid #606060;
    margin: 0 30px;
}

.subItem {
    height: 20px;
    margin-left: 50px;
    padding-left: 5px;
    display: inline-block;
    font-size: 14px;
    vertical-align: baseline;
}

.styles {
    margin-left: 104px;
}

.subItem div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.moveUp {
    position: absolute;
    height: 15px;
    font-size: 10px;
    margin: 3px 36px;
    z-index: 3;
}

.moveDown {
    position: absolute;
    height: 15px;
    font-size: 10px;
    margin: 15px 36px;
    z-index: 3;
}

.moveDiv {
    position: absolute;
    font-size: 11px;
    margin: 8px 36px;
    z-index: 2;
}

.oneItem {
    position: absolute;
    height: 30px;
    margin-left: 50px;
    font-size: 26px;
}

.oneItem span {
    display: inline-block;
}

.oneItem a {
    display: inline-block;
    color: #900c3f;
    padding-left: 10px;
    font-size: 9px;
}

.hideItem form input {
    margin-left: 10px;
    border: 0;
    background: none;
    font-size: 20px;
}

#archive {
    margin: 10px 0 0 685px;
    width: 126px;
    font-weight: bold;
}

.subcategory_submit_button input, .style_submit_button input {
    width: 28px;
    height: 28px;
    font-size: 20px;
    border: 2px solid #72bcd4;
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
}

.subcategory_submit_button, .style_submit_button {
    display: block;
    position: absolute;
    margin: -25px 0 0 625px;
    padding: 0;
    z-index: 10;
}

.style_submit_button  {
    margin-left: 748px;
}

.style_submit_button input {
    border-radius: 0 50% 50% 0;
}

.subcategory_text_box input, .style_text_box input {
    width: 100px;
    height: 24px;
    font-size: 16px;
    background-color: #f3ffff;
    text-align: right;
    border: 2px solid #72bcd4;
    border-radius: 28px 0 0 28px;
    padding-right: 10px;
    margin: 0;
}


.style_text_box input {
    border-radius: 0;
    width: 85px;
}

.subcategory_text_box, .subcategoryForm, .style_text_box {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}

.subcategory_text_box {
    margin: -25px 0 0 513px;
}

.style_text_box {
    margin: -25px 0 0 651px;
}