* {
    text-decoration: none;
}

#footer {
  margin-top: 0;
}

.section_full {
  margin: 0 auto;
}

.listItem {
    height: 30px;
    border-bottom: 1px solid #606060;
    border-top: 1px solid #606060;
    margin: 0 30px;
}

.subItem {
    height: 20px;
    margin-left: 50px;
    padding-left: 5px;
    display: inline-block;
    font-size: 14px;
    vertical-align: baseline;
}

.styles {
    margin-left: 104px;
}

.subItem div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.oneItem {
    position: absolute;
    height: 30px;
    margin-left: 50px;
    font-size: 26px;
}

.oneItem span {
    display: inline-block;
}

.oneItem a {
    display: inline-block;
    color: #900c3f;
    padding-left: 10px;
    font-size: 9px;
}

.hideItem form input {
    margin-left: 10px;
    border: 0;
    background: none;
    font-size: 20px;
}

#archive {
    margin: 10px 0 0 685px;
    width: 126px;
    font-weight: bold;
}

.subcategory_submit_button input, .style_submit_button input {
    width: 28px;
    height: 28px;
    font-size: 20px;
    border: 2px solid #72bcd4;
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
}

.subcategory_submit_button, .style_submit_button {
    display: block;
    position: absolute;
    margin: -25px 0 0 625px;
    padding: 0;
    z-index: 10;
}

.style_submit_button  {
    margin-left: 748px;
}

.style_submit_button input {
    border-radius: 0 50% 50% 0;
}

.subcategory_text_box input, .style_text_box input {
    width: 100px;
    height: 24px;
    font-size: 16px;
    background-color: #f3ffff;
    text-align: right;
    border: 2px solid #72bcd4;
    border-radius: 28px 0 0 28px;
    padding-right: 10px;
    margin: 0;
}


.style_text_box input {
    border-radius: 0;
    width: 85px;
}

.subcategory_text_box, .subcategoryForm, .style_text_box {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}

.subcategory_text_box {
    margin: -25px 0 0 513px;
}

.style_text_box {
    margin: -25px 0 0 651px;
}

/*************** ADD  FORMS ***************/

.admin_text_box {
    position: absolute;
    display: block;
    width: 600px;
    height: 40px;
    margin: 10px 0 0 20px;
    padding: 0;
    top: 400px;
}

.admin_text_box div {
    position: absolute;
    height: 35px;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 0 15px;
}

.admin_text_box input {
    position: absolute;
    width: 590px;
    height: 35px;
    font-size: 26px;
    text-align: right;
    border: 0;
    border-bottom: 2px solid #606060;
}

.admin_submit_button {
    display: block;
    position: absolute;
    top: 402px;
    width: 200px;
    height: 40px;
    margin: 15px 0 0 620px;
    padding: 0;
}

.admin_submit_button input {
    width: 190px;
    height: 30px;
    font-size: 22px;
    border: 2px solid #72bcd4;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
}

.admin_submit_button input:hover, .subcategory_submit_button input:hover, .style_submit_button input:hover {
    border: 2px solid #add8e6;
}

/************ ADMIN  CONTAINER ************/

#admin_container {
    text-align: left;
    margin: 0;
    padding: 60px 0 0;
    display: inline-block;
    width: 840px;
    min-height: 400px;
}

/*************** ADMIN MENU ***************/

.active {
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
    border: 2px solid #72bcd4;
}

#admin_menu {
    margin: 0;
    padding: 10px 0 0;
    display: inline-block;
    width: 175px;
}

.admin_menu_button {
    height: 34px;
    font-size: 20px;
    padding-top: 7px;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

a .admin_menu_button:hover {
  background-color: #e8f4f8;
  border-right: 2px solid #e8f4f8;
  border-left: 2px solid #e8f4f8;
}

/********** LIST ORDER (UP/DOWN) **********/

.moveDiv {
    position: absolute;
    font-size: 11px;
    margin: 8px 36px;
    z-index: 2;
}

.moveDown {
    position: absolute;
    height: 15px;
    font-size: 10px;
    margin: 15px 36px;
    z-index: 3;
}

.moveUp {
    position: absolute;
    height: 15px;
    font-size: 10px;
    margin: 3px 36px;
    z-index: 3;
}

/************ ADD PRODUCT ************/

.hidden_slc {
    display: none;
}

.prodTitle {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ccddee;
    border-bottom: 0.5px solid #606060;
}

.productImage {
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
}

.productList {
    height: 24px;
}

.productOne {
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
}

/************* ADD  PRODUCT *************/

#add_product, #add_item {
    border-bottom: 2px solid #606060;
    height: 40px;
    font-weight: bold;
    font-size: 26px;
    margin: -60px 30px 0;
    padding-top: 8px;
}

#add_product i, #add_item i {
    margin-top: -28px;
    margin-left: 753px;
    position: absolute;
    display: block;
}

.add_form, .add_ItemForm {
    display: none;
    margin: 0 30px;
    background-color: #ffffff;
    height: 250px;
    border-bottom: 2px solid #606060;
    border-left: 0.5px solid #606060;
    border-right: 0.5px solid #606060;
    border-radius: 0 0 15px 15px;
}

.selection {
    border: 0;
    border-bottom: 1.5px solid black;
    width: 380px;
    height: 30px;
    margin-left: 3px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
}

#sel_cat {}

#sel_subcat {}

#sel_style div, #sel_style div input, #sel_style div div {
    display: inline-block;
}

#sel_style div div {
    font-weight: bold;
    margin-top: -1px;
}

#sel_style div input {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.sel_image, .sel_name, .sel_submit, .sel_image2, .sel_name2, .sel_submit2, .sel_price {
    display: block;
    position: absolute;
    height: 40px;
    margin-top: 95px;
    margin-left: 3px;
    border: 0;
    border-bottom: 1.5px solid #606060;
    font-size: 20px;
    width: 773px;
}

.sel_name {
    margin-top: 135px;
}

.sel_submit, .sel_submit2 {
    margin-top: 185px;
    border: 2px solid #72bcd4;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #72bcd4, #add8e6);
    color: #ffffff;
}

.sel_submit:hover, .sel_submit2:hover {
    border: 2px solid #add8e6;
    background-image: linear-gradient(to bottom right, #61abc3, #bee9f7);
}

/********** ADD INVENTORY ITEM **********/

#add_item {
    margin-top: 0;
}

.add_ItemForm {
    height: 300px;
}

#sel_catSubcat {}

#sel_product {}

#color_title {}

#sel_color {
    margin-top: 60px;
}

.sel_image2 {
    margin-top: 165px;
    border: 0;
}

.sel_name2, .sel_price {
    margin-top: 205px;
    margin-left: 60px;
    width: 450px;
}

.sel_price {
    width: 150px;
    margin-left: 570px;
}

.sel_submit2 {
    margin-top: 255px;
}

.blockIt {
    display: block;
    margin: 0 30px;
    padding-left: 20px;
}

.blockIt:hover {
    border: 0.5px solid #606060;
}

.quant_input {
    display: block;
    position: absolute;
    width: 40px;
    font-size: 12px;
    text-align: right;
    margin-top: -19px;
    margin-left: 675px;
    padding-top: 1px;
}

.quant_submit {
    display: block;
    position: absolute;
    margin-top: -19px;
    margin-left: 720px;
    font-size: 12px;
}

/********** MODIFY HEADER **********/

#header #title, #header form {
    display: none;
}

#header #menu {
    top: 85px;
}

#header {
    height: 140px;
    background-position: bottom;
}