/* TABLE OF CONTENT *
    GENERAL     -  11
    BODY        -  32
    CART        -  76
    FOOTER      - 106
    HEADER      - 160
    NAVIGATION  - 208
    SEARCH BAR  - 221
    SEARCH TERM - 264    */

@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #606060;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.txt_white {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

/************** BODY **************/

.product {
  display: inline-block;
  height: 350px;
  margin: 5px 25px;
  width: 200px;
}

.product .product_img {
  background-image: url("../images/placeholder-image.jpg");
  background-position: center;
  background-size: cover;
  height: 250px;
  margin: 0 auto 7px;
  width: 150px;
}

.product_des {
  font-size: 24px;
  line-height: 2;
  text-align: center;
}

.product_des strong {
  font-size: 16px;
}

.section_full {
  margin: 5px auto;
  text-align: center;
  width: 1024px;
}

.title1 {
  font-size: 40px;
  padding-top: 35px;
}

.title2 {
  font-size: 16px;
  padding-top: 5px;
}

/************** CART **************/

#cart {
  align-items: center;
  background-color: #6060606;
  border-radius: 3px;
  display: flex;
  height: 30px;
  justify-content: space-around;
  margin: 24px 0 0 862px;
  position: absolute;
  width: 109px;
}

.cart {
  color: #f7f6f6;
}

.cart_total {
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  margin: 25px 0 0 877px;
  padding: 0 5px 3px 5px;
  position: absolute;
}

/************* FOOTER *************/

.copyright {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1024px;
  text-align: right;
  width: 100%;
}

#footer {
  background-color: #a0a0a0;
  height: 250px;
  margin-top: 40px;
  min-width: 1034px;
  width: 100%;
}

#footer .nav {
  margin: 0 auto;
  padding-top: 28px;
}

.footer_menu {
  height: 140px;
  justify-content: space-between;
  margin: 15px auto;
  max-width: 1024px;
  width: 100%;
}

.footer_menu .column {
  color: #ffffff;
  display: block;
  text-shadow: 2px 2px #606060;
  width: 250px;
}

.footer_menu .column p i {
  color: #ffffff;
  font-size: 40px;
  padding: 15px 15px 0 5px;
}

.footer_menu .column span {
  border-left: 3px solid red;
  font-weight: bold;
}

.footer_menu .column span, .footer_menu .column p {
  color: #ffffff;
  padding: 0 10px;
}

/************* HEADER *************/

#header {
  background-color: #f7f6f6;
  background-image: url(../images/clouds-dawn.jpg);
  background-size: cover;
  border-bottom: 1px solid #cccccc;
  min-width: 1034px;
  width: 100%;
}

#header hr {
  color: #cdcdcd;
  margin: 244px 0 0 412px;
  position: absolute;
  width: 200px;
}

#header .nav {
  margin: 28px 0 0 471px;
  position: absolute;
}

#header_box {
  height: 400px;
  margin: 0 auto;
  width: 1024px;
}

#header_img {
  height: 64px;
  padding: 12px 0 0 25px;
  position: absolute;
  width: 64px;
}

#title {
  color: #ffffff;
  font-size: 40px;
  height: 44px;
  margin-top: 172px;
  padding-left: 395px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 1px 0px black, 0px -1px black, 0px 1px black, -1px 0px black;
  width: 234px;
}

/*********** NAVIGATION ***********/

.divide {}

.link {}

.nav {
  font-size: 16px;
  height: 23px;
  justify-content: space-around;
  width: 388px;
}

/*********** SEARCH BAR ***********/

#search_area {
  background-color: #ffffff;
  border: 1px solid #606060;
  border-radius: 3px;
  height: 54px;
  margin: 274px 0 0 170px;
  position: absolute;
  width: 448px;
}

#search_area i {
  align-items: center;
  color: #606060;
  display: flex;
  font-size: 22px;
  height: 40px;
  justify-content: center;
  padding: 7px;
  width: 40px;
}

#search_area input {
  border: 0;
  font-size: 28px;
  height: 37px;
  margin-top: 7px;
  width: 385px;
}

#search_button {
  background-color: #606060;
  border: 1px solid #606060;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  height: 54px;
  margin: 274px 0 0 651px;
  position: absolute;
  width: 158px;
}

/********** SERACH TERMS **********/

#search_sel {
  border-bottom: 1px solid #cccccc;
  height: 32px;
  margin: 0 auto;
  padding: 5px;
  width: 1024px;
}

.search_sel {
  background-color: #606060;
  border-radius: 20px;
  display: inline-block;
  margin-left: 4px;
  padding: 4px 8px;
  width: 100px;
}

.search_sel span {
  color: #f7f6f6;
  display: inline-block;
}
