<!-- HEAD -->

<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title th:text="${title}" style="display: none;">Page Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link th:if="${title == 'CHECKOUT'}" rel="stylesheet" th:href="@{/css/checkout.css}" />
    <link th:if="${title == 'ADMIN'}" rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <script style="display: none;" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script style="display: none;" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <style style="display: none;" th:each="menuItem : ${menuItems}" th:text="${'
    .subMenuClass' + menuItem.id + ' {
         display: none;
    }

    .menuClass' + menuItem.id + ':hover .subMenuClass' + menuItem.id + ' {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
        margin-left: -5px;
    }'}">
    </style>
    <script style="display: none;">
        $(document).ready(function(){
            $('#add_product').click(function() {
                $('.add_form').toggle();
            });
        });

        $(document).ready(function(){
            $('#add_item').click(function() {
                $('.add_ItemForm').toggle();
            });
        });

    </script>
    <script style="display: none;">
        $(document).ready(function() {
            $("#sel_subcat").children('option:gt(0)').hide();
            $("#sel_style").children('div:gt(0)').hide();
            $("#sel_cat").change(function() {
                $("#sel_subcat").children('option').hide();
                $("#sel_style").children('div').hide();
                $("#sel_subcat").children("option[name^=" + $(this).val() + "]").show()
                $("#sel_style").children("div[name^=" + $(this).val() + "]").show()
            })
        })
    </script>

    <script style="display: none;">
        $(document).ready(function() {
            $("#sel_product").children('option:gt(0)').hide();
            $("#sel_catSubcat").change(function() {
                $("#sel_product").children('option').hide();
                $("#sel_product").children("option[name^=" + $(this).val() + "]").show()
            })
        })
    </script>
    <script type="text/javascript" style="display: none;">
        $.get("/user", function(data) {
            $("#user").html(data.userAuthentication.details.name);
            $(".unauthenticated").hide()
            $(".authenticated").show()
        });

        var logout = function() {
            $.post("/logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
            })
            return true;
        }

        var login = function() {
            $(".onOff").show();
            return true;
        }

        var closeLogin = function() {
            $(".onOff").hide();
            return true;
        }

        var regForm = function() {
            $(".login_form").hide();
            $(".registration_form").show();
            document.getElementById('login_container').style.height = '300px';
            return true;
        }

        var logForm = function() {
            $(".login_form").show();
            $(".registration_form").hide();
            document.getElementById('login_container').style.height = '250px';
            return true;
        }

        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
    </script>
</head>

<!-- CHECKOUT -->

<div id="checkout" th:fragment="checkout">
    <div th:class="${checkout == 'cart' ? 'co_cart checkout active' : 'co_cart checkout'}">Shopping Cart</div>
    <div th:class="${checkout == 'shipping' ? 'co_shipping checkout active' : 'co_shipping checkout'}">Shipping Details</div>
    <div th:class="${checkout == 'payment' ? 'co_payment checkout active' : 'co_payment checkout'}">Payment Options</div>
</div>

<!-- HEADER -->


<div id="header" th:fragment="header">
    <div id="header_box">
        <img id="header_img" src="/images/logo4.png" />
        <div class="nav flex-row">
            <div class="link txt_white"><a th:href="@{/}">Shop</a></div>
            <div class="divide txt_white">|</div>
            <div class="link txt_white">Contact</div>
            <div class="divide txt_white">|</div>
            <div class="link txt_white" onclick="login()" th:if="${username == 'guest'}">Login</div>
            <div class="link txt_white" th:unless="${username == 'guest'}">
                <span class="txt_white" style="display: inline-block;" th:text="${username + '('}"></span>
                <a th:href="@{/logout}" style="display: inline-block;">logout</a>
                <span class="txt_white" style="display: inline-block;">)</span>
            </div>
        </div>
        <a th:href="@{/checkout/cart}" id="cart">
            <i class="fas fa-shopping-cart cart"></i>
            <span class="cart">Your Cart</span>
        </a>
        <a th:href="@{/checkout/cart}" class="txt_white cart_total" th:text="${cartCnt}" th:if="${cartCnt > 0}"></a>
        <div id="title" class="txt_white" th:text="${title}">PAGE NAME</div>
        <form>
            <div id="search_area" class="flex-row"><i class="fas fa-search"></i><input type="text" name="q" placeholder="Search..." /></div>
            <input id="search_button" type="submit" value="Submit" />
        </form>
        <div id="menu">
            <span th:each="menuItem : ${menuItems}" th:class="${'menuClass' + menuItem.id}">
                <a th:href="'/store/' + ${menuItem.name}" th:text="${menuItem.name}"></a>
                <div class="subMenu">
                    <span th:class="${'subMenuClass' + menuItem.id}">
                        <a th:each="subMenuItem : ${subMenuItems}" th:href="${subMenuItem.category.id == menuItem.id}? ${'/store/' + #strings.replace(menuItem.name, ' ', '_') + '/' + #strings.replace(subMenuItem.name, ' ', '_')}" th:text="${subMenuItem.category.id == menuItem.id}? ${subMenuItem.name + '&nbsp;&nbsp;&nbsp;&nbsp;'}" th:unless="${subMenuItem.category.id != menuItem.id}? 'display: none;'"></a>
                    </span>
                </div>
            </span>
        </div>
    </div>

    <div class="onOff">
        <div class="dim"></div>
        <div id="login_container">
            <i class="far fa-times-circle closeLogin" onclick="closeLogin()"></i>
            <div class="login_form">
                <div class="title">Login<span onclick="regForm()" style="display: inline-block; text-decoration: none;">/Register</span></div>
                <form th:action="${'/login'}" method="post">
                    <input type="hidden" name="returnPath" th:value="${returnPath}" />
                    <input type="text" name="email" placeholder="email" required="required" />
                    <input type="password" name="password" placeholder="password" required="required" />
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="registration_form" style="display: none;">
                <div class="title"><span onclick="logForm()" style="display: inline-block; text-decoration: none;">Login/</span>Register</div>
                <form th:action="${'/register'}" method="post">
                    <input type="hidden" name="returnPath" th:value="${returnPath}" />
                    <input type="text" name="email" placeholder="email" required="required" />
                    <input type="password" name="password" placeholder="password" required="required" />
                    <input type="password" name="confirmPassword" placeholder="confirm password" required="required" />
                    <button type="submit">Register</button>
                </form>
            </div>
            <i class="fab fa-google google"></i>
            <i class="fab fa-facebook-f facebook"></i>
            <i class="fab fa-twitter twitter"></i>
            <i class="fab fa-github-alt github"></i>
        </div>
    </div>

</div>


<!-- FOOTER -->


<div id="footer" th:style="${checkout == 'cart' ? 'margin-top: ' + ((allCartItems.size() * 140) + 100) + 'px;' : 'margin-top: ' + ((allCartItems.size() * 70) + 350) + 'px;'}" th:fragment="footer">
    <div class="nav flex-row">
        <div class="link txt_white"><a th:href="@{/}">Shop</a></div>
        <div class="divide txt_white">|</div>
        <div class="link txt_white">Contact</div>
        <div class="divide txt_white">|</div>
        <div class="link txt_white">Login</div>
    </div>
    <div class="footer_menu flex-row">
        <div class="column">
            <span>CONTACT INFO</span>
            <p><i class="fas fa-phone-square" style="font-size: 24px;"></i> 505-652-4425</p>
            <p><i class="fas fa-envelope-square" style="font-size: 24px;"></i> orders@brokeshirts.com</p>
            <p><i class="fas fa-link" style="text-shadow: none; font-size: 14px; border-right: 1.5px solid #606060; border-bottom: 2px solid #606060; border-radius: 3px; background-color: white; color: #a0a0a0; padding: 3px; margin: 15px 15px 0 6px;"></i>http://BrokeShirts.com</p>
        </div>
        <div class="column" align="center">
            <div style="width: 175px;" align="left">
                <span>USEFUL LINKS</span><br />
                <p>&#9675; About the Company</p>
                <p>&#9675; Contact Us</p>
                <p>&#9675; <a th:href="@{/terms}">Terms &amp; Conditions</a></p>
                <p>&#9675; <a th:href="@{/policy}">Privacy Policy</a></p>
            </div>
        </div>
        <div class="column" align="right">
            <div style="width: 130px;" align="left">
                <span>FOLLOW US</span>
                <p><i class="fab fa-twitter-square"></i><i class="fab fa-facebook-square"></i></p>
                <p><i class="fab fa-instagram"></i><i class="fab fa-youtube-square"></i></p>
            </div>
        </div>
    </div>
    <div class="copyright txt_white">&copy;2019 &nbsp; 4425 Entertainment Company</div>
</div>


<!-- ADMIN MENU -->


<div id="admin_menu" th:fragment="admin_menu">
    <a th:href="@{'/admin'}" th:unless="${adminMenu == 'orders'}"><div class="admin_menu_button">Orders</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'orders'}">Orders</div>
    <a th:href="@{'/admin/products'}" th:unless="${adminMenu == 'products'}"><div class="admin_menu_button">Products</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'products'}">Products</div>
    <a th:href="@{'/admin/returns'}" th:unless="${adminMenu == 'returns'}"><div class="admin_menu_button">Returns</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'returns'}">Returns</div>
    <a th:href="@{'/admin/coupons'}" th:unless="${adminMenu == 'coupons'}"><div class="admin_menu_button">Coupons</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'coupons'}">Coupons</div>
    <a th:href="@{'/admin/categories'}" th:unless="${adminMenu == 'categories'}"><div class="admin_menu_button">Categories</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'categories'}">Categories</div>
    <a th:href="@{'/admin/sizes'}" th:unless="${adminMenu == 'sizes'}"><div class="admin_menu_button">Sizes</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'sizes'}">Sizes</div>
    <a th:href="@{'/admin/colors'}" th:unless="${adminMenu == 'colors'}"><div class="admin_menu_button">Colors</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'colors'}">Colors</div>
    <a th:href="@{'/admin/customers'}" th:unless="${adminMenu == 'customers'}"><div class="admin_menu_button">Customers</div></a>
    <div class="admin_menu_button active" th:if="${adminMenu == 'customers'}">Customers</div>
</div>
