<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
  <div th:replace="fragments :: header"></div>

  <div class="section_full">
    <span class="title1">Featured Products</span>
    <span class="title2">The latest and greatest products from Broke Shirts.</span>
  </div>

  <div class="section_full">
      <p th:unless="${featured} and ${featured.size()}"><strong>No Featured Products</strong></p>
      <div class="product" th:each="product : ${featured}">
          <div class="product_img" th:style="${'background-image: url(/upload/image/' + product.imageUrl + ');'}"></div>
          <div class="product_des"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.minPrice + ' - $' + product.maxPrice}" th:unless="${product.minPrice == product.maxPrice}">$17.00</strong><strong th:text="'$' + ${product.minPrice}" th:if="${product.minPrice == product.maxPrice}">$17.00</strong></div>
      </div>
  </div>

  <div th:each="category : ${menuItems}">
      <div class="section_full">
        <a th:href="'/store/' + ${#strings.replace(category.name, ' ', '_')}" class="title1" th:text="${category.name}" style="text-decoration: none;">category</a>
          <span class="title2" th:each="type : ${category.types}">
             <a th:href="'/store/' + ${#strings.replace(category.name, ' ', '_')} + '/' + ${#strings.replace(type.name, ' ', '_')}" th:text="'&nbsp;&nbsp;' + ${type.name} + '&nbsp;&nbsp;'"></a>
          </span><br />
          <div th:each="product : ${products}" style="display: inline-block;" th:if="${product.categoryId == category.id}">
              <div class="product">
                  <div class="product_img" th:style="${'background-image: url(/upload/image/' + product.imageUrl + ');'}"></div>
                  <div class="product_des"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.minPrice + ' - $' + product.maxPrice}" th:unless="${product.minPrice == product.maxPrice}">$17.00</strong><strong th:text="'$' + ${product.minPrice}" th:if="${product.minPrice == product.maxPrice}">$17.00</strong></div>
              </div>
          </div>
      </div>
  </div>

  <div th:replace="fragments :: footer"></div>

</body>
</html>
