<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
  <div th:replace="fragments :: header"></div>

  <div class="section_full">
    <span class="title1">Featured Products</span>
    <span class="title2">The latest and greatest products from Broke Shirts.</span>
  </div>
  <div class="section_full">

    <p th:unless="${featured} and ${featured.size()}"><strong>No Featured Products</strong></p>

    <div class="product" th:each="product : ${featured}">
      <div class="product_img"></div>
      <div class="product_des"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.typeId}">$17.00</strong></div>
    </div>

  </div>

  <div th:each="category : ${menuItems}">
      <div class="section_full">
        <span class="title1" th:text="${category.name}">category</span>
          <span class="title2" th:each="type : ${types}" th:if="${type.categoryId == category.id}">
             <a th:href="'/store/' + ${category.name} + '/' + ${type.name}" th:text="'&nbsp;&nbsp;' + ${type.name} + '&nbsp;&nbsp;'"></a>
          </span><br />
          <div th:each="product : ${products}" style="display: inline-block;">
              <div class="product" th:each="type : ${types}" th:if="${product.typeId == type.id and type.categoryId == category.id}">
                 <div class="product_img"></div>
                 <div class="product_des"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.typeId}">$17.00</strong></div>
               </div>
          </div>
      </div>
  </div>

  <div th:replace="fragments :: footer"></div>

</body>
</html>
