<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
  <div th:replace="fragments :: header"></div>

  <div class="section_full">
    <span class="title1">Featured Products</span>
    <span class="title2">The latest and greatest products from Broke Shirts.</span>
  </div>
  <div class="section_full">

    <p th:unless="${featured} and ${featured.size()}"><strong>No Featured Products</strong></p>

    <div class="product" th:each="product : ${featured}">
      <div class="product_img"></div>
      <div class="product_des"><span th:text="${product.name}">TITLE</span><strong th:text="'$' + ${product.description}">$17.00</strong></div>
    </div>

  </div>

  <div class="section_full">
    <span class="title1">Shirts</span>
    <span class="title2">T-Shirt | Long Sleeve | Woman's | Child</span>
  </div>
  <div class="section_full">
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
  </div>

  <div class="section_full">
    <span class="title1">Pants</span>
  </div>
  <div class="section_full">
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
  </div>

  <div class="section_full">
    <span class="title1">Accessories</span>
    <span class="title2">Mugs | Notebooks | Towels | Mousepads</span>
  </div>
  <div class="section_full">
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
    <div class="product">
      <div class="product_img"></div>
      <div class="product_des">Title<br /><strong>$15 - $17</strong></div>
    </div>
  </div>

  <div th:replace="fragments :: footer"></div>

</body>
</html>
